body {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

div.counter {
    font-size: 13px;
    font-weight: 500;
}

span#storage-counter {
    color: #ff3d3d
}

button#export-btn,
button#parse-upload-btn {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #ff3d3d;
    border: none;
    margin: 5px;
    cursor: pointer;
}
button#export-btn:hover,
button#parse-upload-btn:hover {
    background-color: red;
}
button#clear-storage-btn,
button#clear-listing-ids {
    padding:10px;
    font-size: 10px;
    color: #ff3d3d;
    background-color: #fff;
    border: #ff3d3d solid 1px;
    margin: 5px;
    cursor: pointer;
}
button#clear-storage-btn:hover,
button#clear-listing-ids:hover {
    color: red;
    border-color: red;
}
.csv-upload-wrapper {
    margin-top: 15px;
    padding: 5px;
    width: 95%;
    background-color: #D3D3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
.csv-upload-wrapper label {
    font-weight: bold;
    margin-bottom: 5px;
}
#upload-status {
    font-size: 12px;
    margin-top: 5px;
}
div.credits {
    margin-top: 10px;
}
div.credits h1 {
    margin-bottom: 0;
    font-size: 12px;
}
div.credits span {
    font-size: 10px;
}